@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;600&display=swap");
body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
  }
  header {
    background: hotpink;
    padding: 20px;
  }
  .headerContainer {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
  }
  .contentHolder {
    max-width: 900px;
    margin: 0 auto;
  }

  .imgProfile {

    border: 5px solid white;
    border-radius: 100%;
    box-shadow: 5px 5px 10px 2px rgba(84, 43, 111, 0.485);

  }
  .imgProfile:hover {
  }
  .holderImgProfile {
    flex: 1;
    text-align: center;
  }
  .holderDetailProfile {
    flex: 2;
  }
  .nameProfile {
    font-size: 48px;
    color: white;
    font-weight: 600;
  }
  .titleProfile {
    color: white;
    font-size: 36px;
  }
  .button {
    border: none;
    padding: 10px 20px;
    margin: 10px 10px 0 0;
    font-family: "Roboto Slab", serif;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    transition: all;
    transition-duration: 1s;
  }
  .button.download {
    background-color: #e6e9ed;
    color: rgb(43, 43, 43);
    cursor: pointer;
  }
  .button.hire {
    background-color: #37bc9b;
    color: white;
    cursor: pointer;
  }
  .button:hover {
    transform: scale(1.1);
  } 

  .subContent {
    font-size: 18px;
    font-weight: 500;
    color: rgb(53, 53, 53);
  }
  h3 {
    font-weight: 600;
  }
  /*
  .skillBar {
    display: block;
    margin: 10px 0;
  }
  ul.workEx li {
    font-size: 20px;
    padding: 10px 0;
  }
  ul.workEx li:first-child {
    padding-top: 0;
  }
  span strong {
    color: #1eb574;
  }
  .subWorkEx {
    font-size: 16px;
    color: rgb(66, 66, 66);
    font-weight: 400;
  }

  footer {
    background-color: hotpink;
    text-align: center;
  }

  .footerHolder {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
  }
  .footerName {
    font-size: 20px;
    font-weight: 400;
    color: white;
  }